/* font */
body, h1 {
	font-family: "Times New Roman", sans-serif;
	text-align: justify;
}

body { font-size: 17px; }

h1 { font-size: 20px; }

/* background */
body {
	background-color: rgb(232, 237, 247);
}

/* for webpage layout */
div.side_column {
	position: absolute;
	left: 1em;
	width: 9em;
}

div.main_column {
	position: absolute;
	left: 11em;
	padding-right: 1em;
}

div.footer {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

div.section {
	border-bottom: 1px solid;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* navigate bar */
ul.navigate_bar {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.navigate_bar li {
	background: rgb(61,	92,	157);
	margin: 0.5em 0;
	padding: 0.3em;
	box-shadow: 5px 5px 2px #888888;
}

ul.navigate_bar li a {
	display: block;
}

/* link colors */
ul.navigate_bar a:link {
	color: yellow;
}

ul.navigate_bar a:visited {
	color: white;
}

a:link {
	color: red;
}

a:visited {
	color: purple;
}

/* visual blocks */
.notice {
	position=relative;
	padding: 7px 15px;
	margin: 18px 100px;
	background-color: #eedc94;
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 5px 5px 2px #888888;
}

.command_example {
	position=relative;
	padding: 7px 15px;
	margin-bottom: 18px;
	background-color: #000000;
	color: #00FF00;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold
}

.text_example {
	position=relative;
	padding: 7px 15px;
	margin-bottom: 18px;
	background-color: #000000;
	color: #00FF00;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold
}

/* table */
table {
	border="1";
}
