<!DOCTYPE HTML>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="assets/css/default.css" />
	<!-- tracking code for Google analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25466780-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!---------------------------------------->
</head>
<body>
	<div class="footer">
		Updated on {{ site.time | date_to_long_string }}
	</div>
	<div class="side_column">
		<ul class="navigate_bar">
			<li><a href="index.html">Overview</a></li>
			<li><a href="installation.html">Installation</a></li>
			<li><a href="documentation.html">Documentation</a></li>
			<li><a href="development.html">Development</a></li>
			<li><a href="aboutus.html">About Us</a></li>
		</ul>
        <div style="margin-top: 2em">
            Manual (incompleted):
            <a href="assets/texinfo/geodiag.pdf">
                <img src="assets/pictures/geodiag_doc.png" style="width: 8em">
            </a>
        </div>
	</div>
	<div class="main_column">
		{{ content }}
		<hr />
		{% if page.comments %}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
    		var disqus_shortname = 'geodiag';
    		(function() {
        		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endif %}
	</div>
    <a href="https://github.com/lasg-model/geodiag"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
</body>
</html>
